.Title {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgb(102, 101, 101);
  border-radius: 8px;
  color: white;
  margin: 64px 0 32px;
  min-width: 260px;
  padding: 16px 0;
  text-align: center;
  width: 80%;
}
